block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Patsy's Pizza Elm Grove - #{title}
        link(rel='stylesheet' href='../libs/bootstrap.min.css')
        link(rel='stylesheet' href='../libs/master.css')
        link(rel='stylesheet' href='../libs/font-awesome.min.css')
        link(rel='icon' href='../images/icon.png')
        link(rel='apple-touch-icon' href='../images/icon.png')
        script(src='../libs/jquery.min.js')
        if anchor
            script.
                window.onload = window.location.hash = '#{anchor}';

    body
        .navigation.text-center
            nav.navbar.flex-column
                a(class=home href='/')
                    img.img-fluid(src='../images/logo.jpg' alt='Logo')
                h4 Patsy's Pizza in Elm Grove
                h5.font-italic A Slice Above The Rest
                ul.navbar-nav
                    if auth < 2
                        li.nav-item
                            a.nav-link(class=menu href='/menu') Menu
                        li.nav-item
                            a.nav-link(class=contact href='/contact') Contact Us
                    if auth == 2
                        li.nav-item
                            a.nav-link(class=orders href='/orders') Orders
                    if auth == 0
                        li.nav-item
                            a.nav-link(class=login href='/login') Login
            if auth < 2
                button.btn.btn-success.header Order Pizza!

        .content
            .connections-spacer#top
            #connections
                a.fa.fa-user(href='/login') Login

            block content
            