block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Patsy's Pizza Elm Grove - #{title}
        link(rel='stylesheet' href='../libs/bootstrap.min.css')
        link(rel='stylesheet' href='../libs/master.css')
        link(rel='stylesheet' href='../libs/font-awesome.min.css')
        link(rel='icon' href='../images/icon.png')
        link(rel='apple-touch-icon' href='../images/icon.png')
        script(src='../libs/jquery.min.js')
        if anchor
            script.
                window.onload = window.location.hash = '#{anchor}';

    body
        .navigation.text-center
            nav.navbar.flex-column
                a(class=home href='/')
                    img.img-fluid(src='../images/logo.jpg' alt='Logo')
                h4 Patsy's Pizza in Elm Grove
                h5.font-italic A Slice Above The Rest
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(class=menu href='/menu') Menu
                    if auth < 2
                        li.nav-item
                            a.nav-link(class=contact href='/contact') Contact Us
                    if auth == 2
                        li.nav-item
                            a.nav-link(class=orders href='/orders') Orders

        .content
            .connections-spacer#top
            #connections
                if auth < 2
                    a.header(class=order href='/order') Order Pizza
                    em  | 
                    a.fa.fa-facebook(target='_tab' title='Visit our Facebook page' href='https://www.facebook.com/SliceAboveTheRest/')
                    em  | 
                    a.fa.fa-star(target='_tab' title='Reviews' href='https://www.google.com/maps/place/Patsy%E2%80%99s+Pizza/@40.0474257,-80.6642665,17z/data=!3m1!4b1!4m5!3m4!1s0x8835db1bb9cf88b1:0xa432150bfb8eff27!8m2!3d40.0474216!4d-80.6620778')
                    em  | 
                if auth > 0
                    a.fa.fa-sign-out(title='Logout' href='/logout')
                if auth == 0
                    a.fa.fa-sign-in(title='Login' href='/login')
            block content
            